@model REMS.Models.SellPropertyModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SellPropertyModel</h4>
    <hr />
    <div class="row">
        <dl class="row">
            <div class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.image)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.image)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.propertyType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.propertyType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.startprice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.startprice)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.owner)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.owner)
                </dd>
            </div>
        </dl>
        <div class="col">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://localhost:44324/app-images/@Model.image"
                         class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
