@model IEnumerable<REMS.Models.RentPropertyModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Rent Properties</h1>
<div>
    <form asp-action="Rent" method="get">
        <div class="form-actions no-color">
            <p>
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" id="form1" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" />
                        <label class="form-label" for="form1">Search</label>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                    @if (ViewBag.visible == true)
                    {
                        <a asp-action="Rent" class="mx-2">Back To Full List</a>
                    }
                </div>
            </p>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.propertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.propertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-action="RentDetails" asp-route-id="@item.id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
