@model REMS.Models.PropertyModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PropertyModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.propertyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propertyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.propertyMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propertyMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.propertyStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propertyStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.propertyDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.propertyDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.owner)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
