@model IEnumerable<REMS.Models.BidModel>

@{
    ViewData["Title"] = "Index";    
}

<h1>Your Bids</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.propname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.propname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bid)
            </td>
            <td>               
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
